* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body, html {
  width: 100%;
  height: 100%;
}

a {
  color: black;
}

.sections-container .this-week-container .this-week, .sections-container .new-today-container .new-today {
  display: flex;
  align-items: center;
  padding: 16px 16px;
}

.sections-container .this-week-container .this-week p span, .sections-container .new-today-container .new-today p span {
  color: rgba(0, 0, 0, 0.4);
  padding-left: 3px;
}

.sections-container .this-week-container .activity-2, .sections-container .new-today-container .activity {
  padding: 13px 16px;
  font-size: 16px;
  font-weight: 600;
}

.sections-container .this-week-container .this-week .liked-photo, .sections-container .new-today-container .new-today .liked-photo {
  margin-left: auto;
  width: 44px;
  height: 44px;
}

html {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  body {
    background-color: #fafafa;
  }
}

@media (min-width: 768px) {
  .sections-container {
    max-width: 935px;
    margin: auto;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    gap: 30px;
    margin-top: 24px;
  }
}
.sections-container header {
  display: flex;
  width: 100%;
  height: 80px;
}
.sections-container header .following-you {
  width: 100%;
  height: 80px;
  padding: 20px 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.sections-container header .following {
  color: rgba(0, 0, 0, 0.4);
}
.sections-container header .you {
  border-bottom: 1.5px solid black;
}
.sections-container .follow-requests {
  width: 100%;
  height: 48px;
  padding: 14px 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.sections-container .follow-requests .span {
  font-size: 16px;
}
.sections-container .new-today-container {
  width: 100%;
}
.sections-container .new-today-container .new-today {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sections-container .new-today-container .new-today p {
  padding: 0px 12px;
}
@media (min-width: 768px) {
  .sections-container .new-today-container .new-today .liked-photo {
    width: 80px;
    height: 80px;
  }
}
.sections-container .new-today-container .new-today .double-liked {
  position: relative;
  margin-bottom: 30px;
  margin-right: 20px;
  width: 45px;
  height: 45px;
}
.sections-container .new-today-container .new-today .zackjhon {
  position: absolute;
  margin-left: 20px;
  border: 3px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.sections-container .this-week-container {
  width: 100%;
}
@media (min-width: 768px) {
  .sections-container .this-week-container .this-week .liked-photo {
    width: 80px;
    height: 80px;
  }
}
.sections-container .this-week-container .this-week p {
  padding: 0px 12px;
}
.sections-container .this-week-container .this-week a {
  color: #3797ef;
}
.sections-container .this-week-container .this-week .btn {
  margin-left: auto;
  width: 90px;
  height: 35px;
  background-color: #fff;
  border: 1px solid rgba(60, 60, 67, 0.18);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .sections-container .this-week-container .this-week .btn {
    width: 120px;
    height: 40px;
  }
}
.sections-container .this-week-container .this-week .btn-blue {
  background-color: #3797ef;
  color: #fff;
}
.sections-container .this-week-container .reply {
  display: flex;
  margin-left: 70px;
}
.sections-container .this-week-container .reply img {
  width: 12px;
  height: 10px;
  margin-right: 10px;
}
.sections-container .this-week-container .reply p {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
}

.tab-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 50px;
  background-color: #fafafa;
  bottom: 0;
  position: sticky;
  padding: 0 26px;
}
@media (min-width: 768px) {
  .tab-bar {
    background-color: #fff;
    border: 1px solid #dbdbdb;
  }
}
.tab-bar .img-tab-bar {
  width: 23px;
  height: 23px;
  cursor: pointer;
}
.tab-bar .profile {
  border-radius: 50%;
  object-fit: cover;
}

/*# sourceMappingURL=like.css.map */
