* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body, html {
  width: 100%;
  height: 100%;
}

a {
  color: black;
}

html {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #FAFAFA;
}

header {
  display: none;
  width: 100%;
  min-height: 50px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
}
@media (min-width: 768px) {
  header {
    display: block;
  }
}
header .header {
  display: none;
}
@media (min-width: 768px) {
  header .header {
    display: flex;
    justify-content: flex-start;
    gap: 300px;
    max-width: 935px;
    padding: 10px 0;
    margin: auto;
  }
}
header .header .input {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border: 1px solid #dbdbdb;
  background-color: #FAFAFA;
  width: 215px;
  height: 28px;
  border-radius: 3px;
}
header .header .input .icon-input {
  width: 20px;
  height: 20px;
}
header .header .input input {
  height: 28px;
  width: 184px;
  border: none;
  background: transparent;
}
header .header .input input::placeholder {
  color: rgba(60, 60, 67, 0.6);
  font-size: 16px;
  padding: 0 6px;
}

.locked-username {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0px;
}
.locked-username .locked-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 33%;
  font-size: 16px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .locked-username .locked-profile {
    display: none;
  }
}
.locked-username .locked-profile .locked {
  margin-right: 8.75px;
  height: 11.75px;
}
.locked-username .locked-profile .arrow {
  margin-left: 4px;
  width: 10.7px;
  height: 6.2px;
  cursor: pointer;
}
.locked-username .menu {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  padding: 0 16px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .locked-username .menu {
    display: none;
  }
}

.user-infos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 50px;
  text-align: center;
}
@media (min-width: 768px) {
  .user-infos {
    max-width: 935px;
    margin: auto;
    margin-bottom: 40px;
    gap: 100px;
  }
}
.user-infos .content-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 97px;
  height: 97px;
  border-radius: 50%;
  margin-left: 16px;
  background: linear-gradient(150deg, #833ab4, #fd1d1d, #fcb045);
  position: relative;
}
@media (min-width: 768px) {
  .user-infos .content-img {
    width: 160px;
    height: 160px;
  }
}
.user-infos .content-img img {
  width: 87px;
  height: 87px;
  border: 2px solid white;
  border-radius: 50%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .user-infos .content-img img {
    width: 150px;
    height: 150px;
  }
}
.user-infos .numbers {
  display: flex;
  gap: 30px;
}
@media (min-width: 768px) {
  .user-infos .numbers {
    display: flex;
  }
}
@media (min-width: 768px) {
  .user-infos .numbers .ig-infos {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .user-infos .numbers .ig-infos p {
    font-size: 1.4em;
  }
}
@media (min-width: 768px) {
  .user-infos .user-infos-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.user-infos .user-infos-container .user-settings {
  display: none;
}
@media (min-width: 768px) {
  .user-infos .user-infos-container .user-settings {
    display: flex;
    gap: 20px;
  }
}
.user-infos .user-infos-container .user-settings .user {
  font-size: 1.9em;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user-infos .user-infos-container .user-settings .btn-desktop {
  width: 99.3px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(60, 60, 67, 0.18);
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}
.user-infos .user-infos-container .settings-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.user-infos .user-infos-container .bio-desktop {
  display: none;
}
@media (min-width: 768px) {
  .user-infos .user-infos-container .bio-desktop {
    display: flex;
    flex-direction: column;
    text-align: justify;
  }
}
.user-infos .user-infos-container .bio-desktop .name {
  font-size: 14px;
  font-weight: 600;
  font-size: 1.4em;
  margin-bottom: 8px;
}
.user-infos .user-infos-container .bio-desktop p {
  font-size: 1.4em;
}
.user-infos span {
  font-size: 16px;
  font-weight: 600;
}
.user-infos p {
  font-size: 13px;
}

@media (min-width: 768px) {
  .bio-btn {
    max-width: 935px;
    margin: auto;
  }
}
.bio-btn .bio {
  margin: 12px 16px;
  line-height: 17px;
}
@media (min-width: 768px) {
  .bio-btn .bio {
    display: none;
  }
}
.bio-btn .bio .name {
  font-size: 14px;
  font-weight: 600;
}
.bio-btn .bio p {
  font-size: 14px;
}
.bio-btn .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.bio-btn .button .edit-profile {
  margin: 10px 16px;
  width: 100%;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(60, 60, 67, 0.18);
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
@media (min-width: 768px) {
  .bio-btn .button .edit-profile {
    display: none;
  }
}

.destaques {
  width: 100%;
}
@media (min-width: 768px) {
  .destaques {
    max-width: 935px;
    margin: auto;
    margin-bottom: 40px;
  }
}
.destaques .highlights {
  display: flex;
  padding: 0px 16px;
  gap: 22px;
}
.destaques .highlights .content-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border: 1px solid #C7C7CC;
  border-radius: 50%;
}
.destaques .highlights .highlights-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  cursor: pointer;
}
.destaques .subtitles {
  display: flex;
  padding: 5px 35px;
  gap: 47px;
}

.options {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .options {
    max-width: 935px;
    margin: auto;
  }
}
.options .mosaic-tag {
  width: 186px;
  height: 44px;
  padding: 10px 0px;
  cursor: pointer;
}
.options .mosaic {
  border-bottom: 1.5px solid black;
  cursor: pointer;
}

.container-feed {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin-top: 2px;
}
@media (min-width: 768px) {
  .container-feed {
    max-width: 935px;
    margin: auto;
    gap: 20px;
  }
}
.container-feed .img-feed {
  width: 124px;
  height: 124px;
  flex-basis: 124px;
  flex-grow: 1;
  object-fit: cover;
}
@media (min-width: 768px) {
  .container-feed .img-feed {
    width: 293px;
    height: 293px;
  }
}

.tab-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 50px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  bottom: 0;
  position: sticky;
  padding: 0 26px;
  box-sizing: border-box;
}
.tab-bar .img-tab-bar {
  width: 23px;
  height: 23px;
  cursor: pointer;
}
.tab-bar .profile {
  border-radius: 50%;
  object-fit: cover;
}

/*# sourceMappingURL=profile.css.map */
