@import "../scss/styles.scss";

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;

    
    .qrcode-reader {
        width: 20px;
        height: 20px;
    } 

    .input{
        display: flex;
        align-items: center;
        padding: 10px 10px;
        border: none;
        background-color: rgba(118, 118, 128, 0.12);
        width: 327px;
        height: 36px;
        border-radius: 10px;
    
        .icon-input {
            width: 20px;
            height: 20px;
            
        }
    
        input {
            height: 36px;
            width: 184px;
            border: none;
            background-color: rgba(239, 237, 237, 0.877);
    
            &::placeholder {
                color: rgba(60, 60, 67, 0.6);
                font-size: 16px;
                padding: 0 6px;
            }
        }
    }
}

.categories-container {
    width: 100%;
    display: flex;
    gap: 6px;
    overflow-x: auto;
    padding: 0 10px;

    &::-webkit-scrollbar {
        display: none;
    }

    .categories-box {
        display: flex;
        font-size: 14px;
        font-weight: 600;
        border: 1px solid rgba(60, 60, 67, 0.18);
        border-radius: 6px;
        padding: 10px 10px;
        text-align: center;

        .icon-categories {
            width: 12.75;
            height: 14.78;
            padding-right: 5px;
        }
    }
}

.galery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 1px;
    margin: 10px 0;

    .photos {
        width: 124px;
        height: 119px;
        flex-basis: 124px;
        object-fit: cover;
        flex-grow: 1;
    }


}
.tab-bar {
    width: 100%;
    min-height: 50px;
    background-color: $input-color;
    position: sticky;
    bottom: 0;
    padding: 0 26px;

    @include flex (row, space-between, center);

    .img-tab-bar {
        width: 23px;
        height: 23px;
        cursor: pointer;
    }
    .profile {
        border-radius: 50%;
        object-fit: cover;
    }
}