@import "../scss/styles.scss";

body {
    background-color: $background-secondary;
}
.container-log {

    @include flex (column, center, center);
    height: 100%;
    margin: 0 16px;

    @media (min-width:$breakpoint) {
        flex-direction: row;
        gap: 40px;
        background-color: $background-secondary;
    }

    .insta-mock {
        display: none;

        @media (min-width: $breakpoint) {
            display: block;
        }
    }
    
    .form-log {
        
        @include flex (column, center, center);
        width: 100%;
        background-color: $highlight-contrast-color;
        border: 1px solid rgba(219, 219, 219, 1);
        padding: 30px 0px;
        
        @media (min-width: $breakpoint) {
            width: 350px;
            padding: 30px 40px;
            box-sizing: border-box;
        }

        
        .logo-form {
            width: 164px;
            height: 49px;
            margin-bottom: 30px;

        }
        .input-form {
            width: 258px;
            height: 38px;
            box-sizing: border-box;
            margin: 6px 0;
            padding: 0px 15px;
            border-radius: 5px;
            border: 0.5px solid rgba(0, 0, 0, 0.1);
            background-color: $input-color;

            &::placeholder {
               color: rgba(0, 0, 0, 0.4);
            }
        }
        .forgot-password {
            margin-top: 19px;
            text-align: center;
            color: $highlight-color;
        }
        .button {
            width: 256px;
            height: 38px;
            margin-top: 20px;
            border-radius: 5px;
            border: none;
            background-color: $highlight-color;

            .link-btn {
                color: white;
                font-size: 14px;
                font-weight: 500;
            }
        }
        .or {
            display: flex;
            align-items: center;
            color: gray;
            gap: 20px;
            font-size: 1em;
            font-weight: 600;
            margin-top: 10px;

            .borders-or {
                width: 100px;
                height: 0.5px;
                border: 1px solid rgba(219, 219, 219, 1);
            }
        }
        .log-fb {
            font-size: 14px;
            align-items: center;
            margin-top: 30px;
            color: $highlight-color;
            

            img {
                margin-right: 10px;
              
            }
        }
    }
    
    .sign-up {
        width: 350px;
        height: 60px;
        margin-top: 20px;
        background-color: $highlight-contrast-color;
        border: 1px solid rgba(219, 219, 219, 1);
        text-align: center;
        padding: 20px 20px;

        p {
            font-size: 1.2rem;

            a {
                color: $highlight-color;
                font-weight: 600;
            }
        }

    }
    .get-the-app {
        text-align: center;

        p{
            font-size: 1.2rem;
            margin-top: 10px;
        }

        img {
            width: 136px;
            height: 40px;
            margin-top: 10px;
        }
    }
}
.footer {
    text-align: center;
    line-height:20px;
    color: rgba(0, 0, 0, 0.4);
    word-spacing: 12px;
}

