@mixin flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin box-round($size) {
    width: $size;
    height: $size;
    border-radius: 50%;
    background-size: cover;
  }


    
